@import '@fontsource/inter/variable.css';

@import 'general.scss';
@import 'popover.scss';
@import 'alert.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    font-family: 'InterVariable';
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-size-adjust: none;
  }
  body {
    @apply text-gray-900 text-xl font-normal;
  }
}