@import '@fontsource/inter/variable.css';

@import 'general.scss';
@import 'popover.scss';
@import 'alert.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    font-family: 'InterVariable';
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-size-adjust: none;
  }
  body {
    // @apply text-gray-900 text-xs font-normal min-w-[1000px];
    @apply text-gray-900 text-xs font-normal;
  }

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c4c4c4 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 8px;
    border: 5px solid #ffffff;
  }

  *:focus-visible {
    outline: none;
  }

  h1 {
    @apply text-lg font-medium text-gray-900 pb-1;
  }

  h2 {
    @apply text-base font-medium text-gray-900 pb-1;
  }

  h3 {
    @apply text-sm font-medium text-gray-900 pb-1;
  }

  h4 {
    @apply text-xs font-medium pb-1 text-gray-700;
  }

  h5 {
    @apply text-xxs font-medium text-gray-500 uppercase;
  }

  label {
    @apply text-xs font-medium text-gray-700;
  }

  ul {
    @apply list-inside list-disc;
  }

  ol {
    @apply list-inside list-decimal;
  }

  .icon-initial {
    @apply h-4 w-4 inline-block text-inherit;
  }

  .button-initial {
    @apply inline-flex items-center self-start shadow-sm leading-4 rounded-sm space-x-2 px-3 py-1.5 border border-gray-300 select-none;

    &.default {
      @apply text-gray-600 bg-white hover:bg-gray-100 font-medium;
    }

    &.disabled {
      @apply border-gray-200 text-gray-300 bg-gray-50 cursor-not-allowed shadow-none font-medium;
    }

    &.danger {
      @apply border-transparent text-white bg-red-500 hover:bg-red-600 font-medium;
    }

    &.primary {
      @apply border-transparent text-white bg-blue-500 hover:bg-blue-600 font-medium;
    }

    &.link {
      @apply border-none p-0 text-blue-500 hover:text-blue-700 shadow-none;
    }

    &.loading {
      @apply text-gray-400 bg-gray-50 border-none cursor-wait;
    }
  }
  
  .clickable-initial {
    @apply flex p-[7px] self-start space-x-2 items-center rounded-lg select-none outline-none;

    &.disabled {
      @apply cursor-not-allowed text-gray-400;
    }
    &.enabled {
      @apply cursor-pointer hover:bg-dark-hover;
    }
    &.has-children {
      @apply w-full;
    }

    .clickable-initial-icon {
      @apply h-5 w-5 text-gray-700;
    }
  }

  .formfield-initial {
    @apply inline-flex flex-col shrink-0 w-full items-start justify-center;
  }

  .chip-initial {
    @apply inline-flex p-1 self-start font-medium rounded-lg max-w-full select-none;
  }

  .input-initial {
    @apply block w-full self-start text-xs py-2 shadow-sm focus:ring-blue-500 focus:border-blue-500 rounded-md placeholder-gray-400 max-h-8;
  }

  .textarea-initial{
    @apply block w-full self-start text-xs py-2 shadow-sm focus:ring-blue-500 focus:border-blue-500 rounded border-gray-300 bg-white text-gray-900 placeholder-gray-500 min-h-[34px];
  }

  .checkbox-initial {
    @apply flex relative p-[9px] self-start rounded-lg space-x-2 select-none;

    input[type='checkbox']:focus {
      box-shadow: none !important;
    }
  }

  .radio-initial {
    @apply flex relative p-[9px] self-start rounded-full space-x-2 font-medium;

    input[type='radio']:focus {
      box-shadow: none !important;
    }
  }

  .select-dropdown-options {
    @apply max-h-60 overflow-y-auto space-y-0.5;

    &::-webkit-scrollbar-track
    { 
      @apply bg-gray-100;
    }
    &::-webkit-scrollbar
    { 
      @apply w-[4px] bg-gray-300;
    }
    &::-webkit-scrollbar-thumb
    {
      @apply bg-gray-300 border-[4px] border-gray-300;
    }
  }

  .table-initial {
    @apply border rounded shadow overflow-y-auto;

    table {
      @apply divide-gray-300 w-full;

      .td-initial {
        @apply bg-white flex px-2 py-2;

        &.sticky-col {
          @apply ml-auto sticky z-20;
        }
      }
      
      .th-initial {
        @apply flex bg-gray-100 py-1 text-left whitespace-nowrap font-medium space-x-2 min-w-[50.5px];

        &.sticky-col {
          @apply ml-auto sticky;
        }
      }

      .sticky-shadow-cell {
        @apply before:w-[15px] before:h-full before:absolute before:left-[-15px] before:top-0 before:bg-gradient-to-r before:from-transparent before:to-gray-300/70 border-transparent;
      }
    }
  }

  .contain-content {
    contain: content !important;
  }

  .empty-initial {
    @apply rounded-md bg-white border border-solid border-gray-200 p-3
  }

  .divider-initial {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    clear: both;
    width: 100%;
    margin: 0.75rem 0;

    &.vertical {
      border-top: none;
      border-left: 1px solid rgba(0, 0, 0, 0.06);
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin: 0 1rem;
      width: 0;
      height: 0.9rem;
    }
  }
}

.pretty-json-container .variable-value .string-value {
  word-break: break-all;
}

.Toastify__toast {
  @apply rounded-lg;
}